<!DOCTYPE html>
<html  lang="en" ng-app="tetris">
<head>
  <title><%= title %></title>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
  <link rel='stylesheet' href='/stylesheets/tetrinet.css' />
  <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
  <script src="js/jquery-latest.js"></script>
  <script src="js/lib/angular.min.js"></script>
  <script src="js/lib/angular-cookies.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>



  <div class="container">



    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

             <div class="pull-right">
                <a href="https://github.com/xblaster/NodeTetrinet"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub"></a>
            </div>


          <a class="brand" href="#" style=""> Node Tetrinet</a>
          <ul class="nav">
            <li>
              <a href="#/"> /</a>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li>
              <a>{{nickname}}</a>

             


            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


 

  <div ng-view class="container first-div"></div>
</body>
</html>