<div class="row">

	<div class="span3" id="game" ng-class="{shaded : mode != 'game', gray: gameState =='gameover'}">

		<table class="game-zone" >
			<tr ng-repeat="line in zone">
				<td ng-repeat="cell in line" ng-class="getClassFor(cell)" class="game-cell">

				</td>
			</tr>
		</table>
		{{gameState}}

		<div ng-show="owner==1">
			You are the owner of the room !<br/>
			<a ng-click="launchGame()" class="btn btn-large">Launch the game</a>
		</div>

		<div class="hidden-on-desktop">
			<div ng-show="gameState == 'on'">
				<div class="btn" ng-click="sendGameEvent(3)">
					<i class="icon-arrow-left icon-4x"></i>
				</div>
				<div class="btn" ng-click="sendGameEvent(5)">
					<i class="icon-arrow-down icon-4x"></i>
				</div>
				<div class="btn" ng-click="sendGameEvent(4)">
					<i class="icon-arrow-right icon-4x"></i>
				</div>
				<div class="btn pull-right" ng-click="sendGameEvent(1)">
					<i class="icon-repeat icon-4x"></i>
				</div>
			</div>
		</div>
	</div>

	<div class="span5 hidden-on-phone">	
		<div  ng-include="'partials/chat.html'"></div>

		

	</div>
	<div class="span4 hidden-on-phone">
		<h2>GameZone</h2>
		<div ng-repeat="(nickname, opt) in gameFields" class="span2">
			<table class="game-zone"  ng-class="{gray: opt.status =='gameover'}">
				<tr ng-repeat="line in opt.zone">
					<td ng-repeat="cell in line" ng-class="getClassFor(cell)" class="game-mini-cell">

					</td>
				</tr>
			</table>
			{{nickname}} / {{opt.status}}
		</div>
	</div>
	

	
</div>
