<div class="row">

	<div class="span3" id="game" ng-class="{shaded : mode != 'game', gray: gameState =='gameover'}">

		<table class="game-zone" >
			<tr ng-repeat="line in zone">
				<td ng-repeat="cell in line" ng-class="getClassFor(cell)" class="game-cell">

				</td>
			</tr>
		</table>
		{{gameState}}

		<div ng-show="owner==1">
			You are the owner of the room !<br/>
			<a ng-click="launchGame()" class="btn btn-large">Launch the game</a>
		</div>

		<div>
		</div>
	</div>

	<div class="span3">	
		<div  ng-include="'partials/chat.html'"></div>

		

	</div>
	<div class="span6">
		<h2>GameZone</h2>
		<div ng-repeat="(nickname, opt) in gameFields" class="span2">
			<table class="game-zone"  ng-class="{gray: opt.status =='gameover'}">
				<tr ng-repeat="line in opt.zone">
					<td ng-repeat="cell in line" ng-class="getClassFor(cell)" class="game-mini-cell">

					</td>
				</tr>
			</table>
			{{nickname}} / {{opt.status}}
		</div>
	</div>
	

	
</div>
